.bg-grey { background: #6D6E71; }
.bg-purple { background: #262262; }
.bg-orange { background: #F15A29; }
.bg-red { background: #BE1E2D; }
.bg-yellow { background: #FBB040; }
.bg-green { background: #006838; }

body, h1, p {
  font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
	background: white;
}

header {
  padding-top: 50px;
  height: 350px;
}

.header-home{  
    background-image: url("img/header-blur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 30%;
}

header img {
  display: block;
  margin: 35px auto;
}

header.navigation {
  height: 90px;
  padding: 0;
  text-transform: uppercase;
  font-size: 0;
}

.header-language {
  display: inline-block;
  font-size: initial;
}

.iblock {
  display: inline-block;
}

.link {
  color: grey;
  font-size: initial;
  padding: 0 12px;
}

.link:hover, .selected {
  color: black;
}

header.navigation img {
  display: inline-block;
  margin: 0;
  height: 100%;
  width: auto;
  vertical-align: middle;  
}

.social {
  display: inline-block;
  display: none;
  width: 20px;
  height: 20px;
}

.social img {
  width: 20px;
  height: 20px;
  margin: 0;
}

nav.nav-home {
  font-size: 0;
  margin-bottom: 2px;
}

nav.nav-home a {
  display: inline-block;
  width: 100%;
  color: white;
  height: 30px;
  line-height: 30px;
  margin: 2px 0 0;
  font-size: normal;
}

nav.nav-home a img {
  height: 100%;
}

.hover-grey:hover { background: #6D6E71; }
.hover-purple:hover { background: #262262; }
.hover-orange:hover { background: #F15A29; }
.hover-red:hover { background: #BE1E2D; }
.hover-yellow:hover { background: #FBB040; }
.hover-green:hover { background: #006838; }

.container {
  margin-left:  auto;
  margin-right:  auto;
  margin-top: 177px;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
}

.row:before, .row:after {
  display: table;
  content: " ";
}

h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 0 0 20px 0;
}

h3 {
  height: 30px;
  margin-top: 1px;
  margin-bottom: 0;
}

h3 img {
  height: 100%;
}

h4 {
  font-style: italic;
  font-weight: lighter;
  font-family: Verdana;
  font-size: 19px;
}

.lead {
  font-size: 21px;
  font-weight: 200;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

p {
  margin: 0 0 10px;
}

a {
  color: #3282e6;
  text-decoration: none;
}

footer {
  background: #272262;
  color: white;
  padding-top: 12px;
  padding-bottom: 40px;
}

footer div {
  display: inline-block;
  width: 32%;
}

#about h3 {
  text-align: center;
  color: white;
  margin-top: 2px;
}

#about-content {
  text-align: left;
  width: 600px;
  margin: 0 auto;
}

#about-content p {
  text-align: left;
}

.index-bullet {
  text-transform: uppercase;
  color: #272262;
  font-weight: bold;
}

#contact-info {
  text-align: left;
  vertical-align: top;
}
#contact-info div {
  width: 100%;
}

#contact-form {
  display: inline-block;
  width: 32%;
  text-align: left;
}

#contact-form * {
  display: block;
  box-sizing: border-box;
}

#contact-form label {
  padding: 4px 0;
}

.hidden {
  visibility: hidden;
}

.form-name, .form-email {
  height: 33px;
  width: 340px;
}

.form-msg {
  height: 160px;
  width: 340px;
  padding: 8px;
}

#useful {
  text-align: left;
  vertical-align: top;
}
#useful a {
  display: block;
  background: gray;
  text-transform: uppercase;
  width: 350px;
  color: white;
  margin: 1px;
  font-weight: bold;
}

.language {
  font-weight: bold;
  color: white;
}

.language a:visited { color: white; }

.footer-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.phone {
  font-weight: bold;
  font-size: large;
}

#tours-content {
  text-align: left;
}

.navigation-sub {
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.tours-info * {
  text-align: left;
  vertical-align: top;
}

.tours-card {
  display: block;
  width: 100%;
  border-style: solid;
  border-width: 2px 0 0;
  border-color: #F15A29;
}

.tours-card-column {
  display: inline-block;
  vertical-align: top;
  width: 32%;
}

.tours-card-column p {
  text-align: left;
}

.tours-card-column-half {
  display: inline-block;
  vertical-align: top;
  width: 16%;
}

.tours-card-category {
  color: #F15A29;
}

#form-intro {
  text-align: center;
}

#form-intro * {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

.vacation {
  width: 400px;
  text-align: left;
  vertical-align: top;
}

.vacation p {
  text-align: left;
}

.property p {
  text-align:left;
  width:800px;
  margin:0 auto;
}

.greentext {
  text-transform: uppercase;
  color: #006838;
  font-weight: bold;
  padding-top: 15px;
}

.vehicle {
  display: inline-block;
  width: 650px;
  background: white;
  vertical-align: top;
  text-align: left;
  font-size: 12px;
}

.vehicle-text {
  margin: 28px;
  vertical-align: top;
}

.vehicle-text div {
  vertical-align: top;
}

.vehicle h5 {
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: normal;
}

.vehicle img {
  width: 100%;
  height: auto;
  max-height: 340px;
}
